
<footer id="gap-on-top">
    <div class="footer" id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h4> Let Us Help You </h4>
                    <ul>
                        <li> <a href="/user/profile"> Your Account </a> </li>
                        <li>  Returns Centre  </li>
                        <li>  100% Purchase Protection  </li>
                        <li>  Help  </li>
                    </ul>
                </div>

                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h4>Categories</h4>
                    <ul>
                        <li> <a href="/clothing">Clothing</a> </li>
                        <li> <a href="/electronics">Electronics</a> </li>
                        <li> <a href="/games">Games</a> </li>
                        <li> <a href="/books">Books</a> </li>
                          <li> <a href="/accessories">Accessories</a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h4>  Get to Know Us</h4>
                    <ul>
                        <li> <a href="/about"> About Us </a> </li>
                        <li> Careers  </li>
                        <li>  Press Releases </li>
                        <li> Gift a Smile </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                   
                    <ul class="social">
                        <li>  <i class=" fa fa-facebook">   </i>  </li>
                        <li>  <i class="fa fa-twitter">   </i>  </li>
                        <li>  <i class="fa fa-google-plus">   </i>  </li>
                        <li>  <i class="fa fa-pinterest">   </i>  </li>
                        <li>  <i class="fa fa-youtube">   </i>  </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container-fluid">
            <p class="pull-left"> Copyright © Footer 2014. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>