 <!-- Fixed navbar -->
   <!-- <nav class="navbar navbar-default navbar-fixed-top">-->
<div class="mainmenu-area">
      <div class="container" >
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="dropdown"><a href="/clothing">Clothing<i class="fa fa-angle-down"></i></a>
             <ul role="menu" class="dropdown-menu">
                <li><a href="/shop/menswear">Mens Wear</a></li>
                 <li role="separator" class="divider"></li>
                <li><a href="/shop/womenswear">Womens Wear</a></li>
                 <li role="separator" class="divider"></li>
                <li><a href="/shop/kidswear">Kids Wear</a></li>
              </ul>
            </li>
               <!--  <li><a href="#about">Women</a></li>-->
              <li class="dropdown" ><a href="/electronics">Electronics<i class="fa fa-angle-down"></i></a>
             <ul role="menu" class="dropdown-menu">
                <li><a href="/shop/mobiles">Mobiles</a></li>
                 <li role="separator" class="divider"></li>
                <li><a href="/shop/pc">Computers</a></li>
                 <li role="separator" class="divider"></li>
                <li><a href="/shop/tablets">Tablets</a></li>
              </ul>
            </li>
         
            <li class="dropdown"><a href="/accessories">Accessories<i class="fa fa-angle-down"></i></a>
              <ul role="menu" class="dropdown-menu">
                  <li><a href="/shop/necklace" >Necklace</a></li>
                 <li role="separator" class="divider"></li>
                  <li><a href="/shop/rings" >Rings</a></li>
                 <li role="separator" class="divider"></li>
                <li><a href="/shop/bags">Bags</a></li>
                 <li role="separator" class="divider"></li>
                <li><a href="/shop/watches">Watches</a></li>
              </ul>
            </li>
        <!--    <li><a href="#contact">Kids</a></li>-->
            <li class="dropdown"><a href="/books">Books<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="dropdown-menu">
                <li><a href="/shop/documentaries" >Documentaries</a></li>
                 <li role="separator" class="divider"></li>
                <li><a href="/shop/kindleebooks">Kindlebooks</a></li>
                 <li role="separator" class="divider"></li>
                <li><a href="/shop/fiction">Fiction</a></li>
              </ul>
            </li>
             <li class="dropdown"><a href="/games">Games<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="dropdown-menu">
                <li><a href="/shop/xbox">Xbox</a></li>
                 <li role="separator" class="divider"></li>
                <li><a href="/shop/pcgames">Windows Games</a></li>
                 <li role="separator" class="divider"></li>
                <li><a href="/shop/ps">PlayStation Games</a></li>
              </ul>
            </li> 
              <!--      <li class="dropdown"><a href="#">Sportwear<i class="fa fa-angle-down"></i></a>
              <ul role="menu" class="sub-menu">
                <li><a href="#">phones</a></li>
                <li><a href="#">computers</a></li>
                <li><a href="#">Something else</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">link1</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>-->
          </ul>
          <!--<ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">OFFER ZONE</a></li>
            <li><a href="../navbar-static-top/">WEEKEND SALES</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>-->
        </div>
      </div>
    </div>
