<!--<div class="container" id="about">
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-4">
        <h5>Name</h5>
        </div>
        <div class="col-md-4">
        <h5>MailId</h5>
        </div>
        <div class="col-md-4">
       <h5>UID</h5> 
        </div>
      </div>
    </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            
         <h4>Naveen Kumar</h4>
               
        </div>
        <div class="col-md-4 col-sm-4">
           <h4>Naveen_Kumar@epam.com</h4> 
        </div> 
        <div class="col-md-4 col-sm-4">
             <h4> 5239</h4>
        </div> 
        
    </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
            <h4>Shruthi Panjala</h4>
        </div> 
           <div class="col-md-4 col-sm-4">
            <h4>Shruthi_Panjala@epam.com</h4>
        </div>
           <div class="col-md-4 col-sm-4">
            <h4> 523949</h4>
        </div>
    </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h4>Sadhana Mungara</h4>  
        </div> 
          <div class="col-md-4 col-sm-4">
            <h4>Sadhana_Mungara@epam.com</h4>
        </div> 
          <div class="col-md-4 col-sm-4">
            <h4> 523941</h4>
        </div> 
    </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
           <h4>Prudhvi Bhimavarapu</h4> 
        </div>
          <div class="col-md-4 col-sm-4">
            <h4>Prudhvi_Bhimavarapu@epam.com</h4>
        </div>
          <div class="col-md-4 col-sm-4">
          <h4> 5239</h4>  
        </div>
    </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
            <h4>Priya Dalal</h4>
        </div>
          <div class="col-md-4 col-sm-4">
           <h4>Priya_Dalal@epam.com</h4> 
        </div>
          <div class="col-md-4 col-sm-4">
          <h4> 5239</h4>  
        </div>
    </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
            <h4>Ameen Almohammed</h4>
        </div>
          <div class="col-md-4 col-sm-4">
            <h4>Ameen_Almohammed@epam.com</h4>
        </div>
          <div class="col-md-4 col-sm-4">
            <h4> 5239</h4>
        </div>
    </div>
    </div>
</div>
</div>-->
<div class="well" style="background:#182626">
    <span style="color:white">
        <h2 align="center">About</h2>
    </span></div>
<div class="container" id="about">
    <div class="row" >
        <div class="col-md-4 col-md-offset-2">
        <button type="button" class=" btn-circle btn-xl">
    <h4>Naveen Kumar
    </h4>
            <h4>MailId:Naveen_Kumar<br/>@epam.com</h4>
    <h4>Contact:9133534453</h4>
</button>   
    </div>
          <div class="col-md-4 ">
<button type="button" class=" btn-circle btn-xl">
    <h4>Shruthi
        Panjala
    </h4>
    <h4>MailId:Shruthi_Panjala<br/>@epam.com</h4>
    <h4>Contact:7907865432</h4>
</button>
    
        </div>
    </div>
        <div class="row">
            <div class="col-md-4">
        <button type="button" class=" btn-circle btn-xl">
    <h4>Sadhana Mungara
    </h4>
            <h4>MailId:Sadhana_Mungara<br/>@epam.com</h4>
    <h4>Contact:8500625087</h4>
</button>
                </div>
            <div class="col-md-4">
              <button type="button" class="btn-circle btn-xl">
    <h3>Team</h3>
                  <h3>Members</h3>
</button>
            </div>
            <div class="col-md-4">
        <button type="button" class="btn-circle btn-xl">
    <h4>Prudhvi <br/> Bhimavarapu
    </h4>
            <h4>MailId:Prudhvi_Bhimavarapu<br/>@epam.com</h4>
    <h4>Contact:8885870700</h4>
</button>
            </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
        <button type="button" class="btn-circle btn-xl">
    <h4>Priya Dalal
    </h4>
            <h4>MailId:Priya_Dalal<br/>@epam.com</h4>
    <h4>Contact:7396022950</h4>
</button>
        </div>
        
        <div class="col-md-4 ">
        <button type="button" class=" btn-circle btn-xl">
    <h4>Ameen <br/>Almohammed
    </h4>
            <h4>MailId:Ameen_Almohammed<br/>@epam.com</h4>
    <h4>Contact:9703828784</h4>
</button>
        </div>
	</div>

</div>