<h1 align="center">your account</h1>
<div class="container">
    <table class="table table-hover" style="font-size:20px">
        <tr>
            <td><b>First Name</b></td>
            <td>{{firstname}}</td>
        </tr>
        <tr>
            <td><b>Last Name</b></td>
            <td>{{lastname}}</td>
        </tr>
        <tr>
            <td><b>Email Address</b></td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td><b>Phone Number</b></td>
            <td>{{phonenumber}}</td>
        </tr>
    </table>
</div>
<div class="container">
        <div class="col-md-3 col-md-offset-1">
            <a href="/cart"><button class="btn btn-success btn-lg" role="button" value="Add To Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart</button></a>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <a href="/wishlist"><button class="btn btn-success btn-lg" role="button" value="Add To Wishlist"><i class="fa fa-list-ul" aria-hidden="true"></i>Wishlist</button></a>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <a href="/user/orders"><button class="btn btn-success btn-lg" role="button" value="Add To Wishlist"><i class="fa fa-history" aria-hidden="true"></i>History</button></a>
        </div>
</div>
    <!--<div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-4" id="box" >
                <span style="color:blue;"> <i class="fa fa-refresh fa-3x"></i>
                <p> Returns</p></span>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4" id="box">
                <span style="color:yellow;"><i class="fa fa-truck fa-3x"></i></span>
                    <p>Shipping</p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4" id="box">
                <span style="color:red;"><i class="fa fa-lock fa-3x"></i></span>
                <p>Payments</p>
            </div>
        </div>
    </div>
    
    <div class="container" style="padding-top:20px;">
<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">
        <div class="row">
                <div class="col-md-2" id="links">
                    <span style="color:#698CCF"><div class="container"><i class="fa fa-user fa-3x" aria-hidden="true"></i><h4>Profile</h4></div></span>
                </div>
            
                    <div class="col-md-7 col-sm-6" id="links">
                    <ul style="text-align:center;">
                          <li><a href="/cart">Your Cart</a></li>
                        <li><a href="/wishlist">Your Wishlist</a></li>
                        <li><a href="/user/orders">Your History</a></li>
                        
                        </ul>
                    </div>
      </div></div></div>
    </div>-->
<!--<div class="container" style="padding-top:20px;">
<div class="panel panel-default">
  <div class="panel-heading">Edit Profile</div>
  <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" required name="name" aria-hidden="true">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea type="text" id="address" class="form-control" required name="address" aria-hidden="true"></textarea>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" aria-hidden="true">
                    </div>
                </div>
                <hr></div>
  </div>
</div>
    </div>-->
 <!--   <div class="container">
        <div class="row">
                <div class="col-md-3 col-sm-6" id="box">
               
                   <span style="color:yellow;"><i class="fa fa-truck fa-3x"></i></span>
                        <p>Shipping</p>
                    
                    </div>
                    <div class="col-md-9 col-sm-6" id="links">
                    <ul>
                          <li><a href="#">View Orders</a></li>
                        <li><a href="#">Track your orders</a></li>
                        <li><a href="#">Cancel Orders</a></li>
                        
                        </ul>
                    </div>
                </div>
    </div>-->    
<!-- end of complete division-->